
#signinbtn,#googlebtn{
	background-color: white;
	box-shadow: none;
border: 0;
padding: 10px;
border-right: 1px solid black;
border-bottom: 1px solid black;
color: black;
}
#signinbtn:hover{
	border: 1px dashed;
}
#googlebtn:hover{
	border: 1px dashed;
}

@media only screen and (min-width: 1500px)  {
	#loginbox{
		margin-top: 40px;
	}	

}

