#signupbtn,#googlebtn{
	background-color: white;
	box-shadow: none;
border: 0;
padding: 10px;
border-right: 1px solid black;
border-bottom: 1px solid black;
color: black;
font-size: 0.9rem
}
#signupbtn:hover{
	border: 1px dashed;
}
#googlebtn:hover{
	border: 1px dashed;
}
#alert-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
  }
  
  #alert {
	background-color: #fff;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 50px;
	text-align: center;
	border-radius: 8px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #alert p {
	margin-top: 0;
	font-weight: 400;
  }
  #alert button {
	display: flex;
	margin: auto;
	margin-bottom: -10px;
	padding: 8px 20px;
	border: 0;
	/* background-color: white; */
	background-color: #f0f0f0;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
  }
  #alert button:hover {
	cursor: pointer;
	border: 0;
	border: 1px dashed black;
  }  
  #spinner{
	position: fixed;
	top: 300px;
	left: 50%;
	z-index: 2000;
	display: none;
}
@media only screen and (min-width: 1500px)  {
	#signupbox{
		margin-top: 40px;
	}	

}